<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="top">Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-header>
        Register Friend
      </ion-card-header>
  
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Name:</ion-label>
          <ion-input [(ngModel)]="model.name" name="name"></ion-input>
        </ion-item>
  
        <ion-button (click)="saveFriend();" expand="block" 
          size="medium" color="primary">Save Friend</ion-button>
  
      </ion-card-content>
    </ion-card> 
  <!-- List friends -->
  <ion-list>
    <ion-item *ngFor="let friend of myFriends">
      {{ friend.name }}

    </ion-item>
  </ion-list>

</ion-content>




